$colormain: #141414;
$colorhover: #8a8a8a;

@font-face {
    font-family: 'GothamRegular';
      src: url('fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
      src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/Gotham-Book.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/Gotham-Book.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('fonts/Gotham-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

@font-face {
    font-family: 'GothamExtraLight';
      src: url('fonts/Gotham-ExtraLight.eot'); /* IE9 Compat Modes */
      src: url('fonts/Gotham-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/Gotham-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/Gotham-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/Gotham-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('fonts/Gotham-ExtraLight.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

@mixin txtStyle1 {
    font-family: 'GothamRegular';
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
}

* {
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    @include txtStyle1()
}