$colormain: #141414;
$colorhover: #8a8a8a;

// fontovi

@font-face {
    font-family: 'GothamRegular';
      src: url('fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
      src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/Gotham-Book.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/Gotham-Book.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('fonts/Gotham-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

@font-face {
    font-family: 'GothamBold';
      src: url('fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
      src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('fonts/Gotham-Bold.woff2') format('woff2'), /* Super Modern Browsers */
          url('fonts/Gotham-Bold.woff') format('woff'), /* Pretty Modern Browsers */
          url('fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
          url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

@mixin txtStyleBold {
    font-family: 'GothamBold',sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6cm;
    color: $colormain;
}

@mixin txtStyleRegular {
    font-family: 'GothamRegular',sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6cm;
    color: $colormain;
}

* {
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    text-decoration: none;
    @include txtStyleRegular;
    max-width: 1000px;
}

/* header */

.header {
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1;
}

#HOME {
    @include txtStyleBold;
    float: left;
}

.headernav {
    padding-left: 320px;
    padding-top: 20px;
    margin: 0 auto;
}

.headernav :hover {
    color: $colorhover;
}

.headersocial {
    float: right;
}

#follow{
    @include txtStyleRegular;
    font-size: 0.8rem;
    padding-left: 230px;
}

.navicons {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    padding: 0px;
    vertical-align: middle;
}

/* about */

#about {
    overflow: hidden;
    @include txtStyleRegular;
    text-align: left;
    margin-top: 100px;
}

#name {
    @include txtStyleBold;
    font-size: 4rem;
}

p {
    line-height: 0.5cm;
}

.skills {
    margin-top: 25px;
}
.skills li {
    color: $colorhover;
    line-height: 0.5cm;
}

br {
    line-height: 0.5cm;
}
#nikola {
    float: right;
    position: static;
    width: 500px;
}

/* projects */

#section {
    @include txtStyleBold;
    margin-bottom: 0px;
}


.flip-card {
    background-color: transparent;
    width: 100%;
  }
  
  .flip-card-inner {
    width: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 $colorhover;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

/* Contact form */

.container-contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.contact-form {
    width: 100%;
  }

.contact-form-title {
    display: block;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 49px;
  }

.wrap-input {
    width: 60%;
    border-radius: 10px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
  }

.input {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;    
    border-radius: 30px;
    font-size: 15px;
    line-height: 3;
  }

/*----------------------------------*/

input.input {
    height: 50px;
    padding: 0 35px 0 35px;
  }
  
  
textarea.input {
    min-height: 160px;
    padding: 19px 35px 0 35px;
  }

/*--------------button--------------*/

.container-contact-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }

  .contact-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 62px;
    background-color: transparent;
    border-radius: 30px;
    @include txtStyleBold;
    text-transform: uppercase;
  }



/* Footer */

footer {
    text-align: center;
    max-width: 100%;
}

#footer-message {
    width: 100%;
    @include txtStyleBold;
  }